.Footer{
    background-color: green;
    padding: 0.5rem;
    color: white;
    width: 100%;
    margin-top: auto;
}
.Footer-in{
    width: 100%;
    text-align: center;
}
.Footer-in p a {
    color: white;
    text-decoration: none;
    transition: color 0.25s ease;
}
.Footer-in p a:hover {
    color: orange;
}

@media screen and (max-width: 600px) {
    .Footer-in p{
        font-size: 0.8rem;
    }
}