.loader-container {
    background-color: #14532d;
    height: 100vh;
    width: 100%;
    position: fixed;
    inset: 0;
    z-index: 9999;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

.loader-container.fade-out {
    opacity: 0;
    visibility: hidden;
}

.loader-content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.loader-svg {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
}

.loader-svg .loader-text {
    text-transform: uppercase;
    animation: stroke 4s infinite alternate;
    stroke-width: 5;
    stroke: #fff;
    font-size: 7rem;
    font-weight: 800;
}

@keyframes stroke {
    0% {
        fill: rgba(72, 138, 20, 0);
        stroke: #fff;
        stroke-dashoffset: 100%;
        stroke-dasharray: 0 60%;
        stroke-width: 2;
    }
    70% {
        fill: rgba(72, 138, 20, 0);
        stroke: #fff;
    }
    80% {
        fill: rgba(72, 138, 20, 0);
        stroke: #fff;
        stroke-width: 2;
    }
    to {
        fill: transparent;
        stroke-dashoffset: -5%;
        stroke-dasharray: 50% 0;
        stroke-width: 2;
        stroke: #fff;
    }
}

@media (max-width: 500px) {
    .loader-container {
        height: 100vh;
    }

    .loader-content {
        height: 80vh;
    }

    .loader-svg .loader-text {
        font-size: 5rem;
    }
}
