.HomeNavBar {
  width: 100%;
  position: fixed;
  z-index: 99;
}

.HomeNavBar-in {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .5rem;
  margin-left: 2rem;
}

.HomeNavBar-in-one-in {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 120%;
  gap: 0.2rem;
}

.HomeNavBar-in-one-in-one {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(245, 245, 245, 1);
  border: 2px solid green;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2rem;
  animation: scrolling .2s linear;
  backdrop-filter: blur(6px);
  width: 60%;
  padding: .8rem;
}

.SVRLogo {
  width: 18%;
  mix-blend-mode: multiply;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 150px;
  border-radius: 5px;
  padding: 10px 0;
}

.dropdown-content a {
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: green;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.HomeNavBar-in-one-in-two {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: .7rem 0;
  width: 30%;
  background-color: rgb(245, 245, 245, 1);
  border: 2px solid green;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2rem;
  margin-left: 0.5rem;
  animation: scrolling .2s linear;
}


.HomeNavBar-in-one-in-one h1 {
  color: green;
  font-size: 1.5rem;
  font-weight: 600;
}

.HomeNavBar-in-one-in-one img {
  width: 12%;
  height: 12%;
  object-fit: cover;
}


.HomeNavBar-in-one-in-logo {
  width: 70%;
}

.HomeNavBar-in-one-in-logo a {
  width: 70%;
}

.HomeNavBar-in-one-in-logo-image {
  width: 60%;
  margin: auto;
}

.HomeNavBar-in-one-in span {
  color: orange;
  font-size: 1.5rem;
  font-weight: 600;
}

.HomeNavBar-in-one {
  width: 40%;
}

.HomeNavBar-in-two {
  width: 60%;
  border-radius: 2rem;
  padding: .8rem 1rem;
}

.HomeNavBar-in-two-in {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  display: none;
}