.ResNavbar-Component {
    width: 100%;
    position: fixed;
}

.ResNav-in {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: green;
    z-index: 99;
}

.ResNav-one {
    width: 70%;
}

.ResNav-one h1 {
    font-size: 1rem;
    color: white;
}

.ResNav-one span {
    font-size: 1rem;
    font-weight: 600;
    color: orange;
}

.ResNav-two {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.4rem;
    color: white;
}

.Res-navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    padding: 1rem 0rem;
    animation: scrollDown 1s ease-in-out;
    z-index: -1;
}

@keyframes scrollDown {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0%);
    }
}

.nav-hide {
    display: none;
}

.Res-navigation-in a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

.Res-navigation-one {
    padding: 1rem;
}

.Res-navigation-two {
    padding: 1rem;
}

.Res-navigation-three {
    padding: 1rem;
}

.Res-navigation-four {
    padding: 1rem;
}

.Res-navigation-five {
    padding: 1rem;
}

.Res-navigation-six {
    padding: 1rem;
}

.Res-navigation-seven {
    padding: 1rem;
}